.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.marquee {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: max-content;
  animation: scroll 25s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee:hover {
  animation-play-state: paused;
}
